.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* shared style */
.max-width {
    max-width: 1200px;
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.background-color-1 {
    background-color: #1A0B2E;
}

.background-color-2 {
    background-color: #230E3D;
}

.section-title {
    padding-top: 120px;
    padding-bottom: 40px;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.btn-header {
    background: linear-gradient(47.64deg,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10000px;
    color: white;
    border: none;
    cursor: pointer;


}

.btn-header-2 {
    background: linear-gradient(47.64deg,
            rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
    padding: 12.5px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10000px;
    color: white;
    border: none;
    cursor: pointer;

}

.btn-header-3 {
    background-color: transparent;
    padding: 12.5px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10000px;
    color: #00FF88;
    border: 1px solid #00FF88;
    cursor: pointer;

}


/* menu */
header {
    border-bottom: 1px solid #412567;
}

.menu {
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.menu p {
    color: white;
    font-size: 16px;
    margin-right: 32px;
    font-weight: 500;
    cursor: pointer;
}

/* animation */
.main-menu {
    gap: 32px;
}

.main-menu p {
    position: relative;
    cursor: pointer;
    padding-bottom: 6px;
    font-weight: 500;
}

/* underline */
.main-menu p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #6a00ff;
    transition: width 0.3s ease;
}

/* hover effect */
.main-menu p:hover::after {
    width: 100%;
}


.mobile-menu {
    display: none;
}

.banner {
    position: relative;
    height: 720px;
    /* প্রয়োজন অনুযায়ী */
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-main {
    max-width: 1200px;
    margin: 0 auto;
}

/* Center image */
.center-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

/* Top image on center image */
.top-img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 2;
}

.banner-content {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 60%);
    text-align: center;
}

.banner-content h1 {
    font-size: 60px;
    color: white;
    font-weight: 800;
}

.banner-content p {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.button {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.optional-button {
    position: absolute;
    top: 10%;
    left: 58%;
    transform: translate(-50%, 60%);
    text-align: center;
    background-color: #00FF88;
    font-size: 18px;
    font-weight: 600;
    color: #1A0B2E;
    padding: 8px 16px;
    border-radius: 1000px;
    border: none;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);

}

/* about section */

.about {
    padding-top: 50px;
    padding-bottom: 120px;

}

.about-content {
    text-align: center;
    width: 790px;

}

.about-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #FFFFFF;

}

.about-content p {
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

.optional-paragraph {
    margin-top: 30px;
}

.about hr {
    margin-top: 80px;
    margin-bottom: 80px;
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
}

.about-counter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    text-align: center;
}

.about-counter-info h1 {
    color: #00FF88;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.about-counter-info p {
    color: white;
    font-size: 16px;
    line-height: 20px;
}



/* why choose us section */
.choose-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 225px);
    gap: 30px;
    padding-bottom: 120px;
}

.choose-container-info {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.choose-container-1 {
    grid-column: span 1;
    grid-row: span 2;
}

.choose-container-2,
.choose-container-3,
.choose-container-4 {
    grid-column: span 2;
    grid-template-rows: span 1;
}

.choose-container-5 {
    grid-column: span 1;
    grid-template-rows: span 1;
}

.choose-container h1 {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
    margin: 16px 0;
}

.choose-container p {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.choose-container-info {
    background-color: rgba(53, 17, 101, 0.4);

    transition:
        transform 0.35s ease,
        box-shadow 0.35s ease,
        background-color 0.35s ease;
}

.choose-container-info:hover {
    transform: scale(1.02);
    background-color: rgba(53, 17, 101, 0.6);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}



/* featured section */



.featured-container-main {
    display: flex;
    gap: 30px;


}

iframe {
    border-radius: 24px 24px 0px 0px;
}

.featured-container-info {
    padding: 24px;
    background-color: #250D44;
    border-radius: 0px 0px 24px 24px;
}

.featured-container-info h1 {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.featured-container-info>p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
    color: #FFFFFF;

}

.clock {
    display: flex;
    align-items: center;
    gap: 6px;
}

.clock p {
    color: #00FF88;
    font-size: 16px;
    line-height: 24px;

}

/* host section */

.host-main {
    padding-bottom: 120px;
}

.host {
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40PX;
    padding: 40PX;

}

.host h1 {
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.host p {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.host-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}



.host-icon-main {
    width: 30px;
    height: 30px;
    border: 1px solid #412567;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.host-icon-main img {
    max-width: 100%;
    padding: 7px;
}

.host-icon-main img {
    transition: transform 0.3s ease;
}

.host-icon-main:hover img {
    transform: scale(1.5);
    background-color: #1A0B2E;
}


/* footer secton */

footer {
    background-image: url(./assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 95px 0;

}

.footer-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40;
    justify-items: center;
    align-items: center;
    
}

.footer-icon-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 32px 0;
    align-items: center;
    

}

.footer-icon-content p {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.copyright p {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;

}

.footer-hr {
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 auto 5px;
    width: 1200px;
}








/* responsive for small device 576px */

@media screen and (max-width:576px) {
    .mobile-menu {
        display: flex;
        color: white;
    }

    .btn-header {
        display: none;
    }

    .main-menu {
        display: none;
    }

    .menu img {
        width: 137px;
        height: 20px;
    }

    header {
        padding: 0 20px;
    }

    /* banner section */

    .banner {
        height: 466px;
    }

    .center-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);
        width: 200px;
        height: 200px;
    }

    /* Center image er opor image */
    .top-img {
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -110%);
        z-index: 2;
        width: 80px;
        height: 80px;
        object-fit: contain;
    }

    .banner {
        background-position: center;
        background-size: cover;

    }

    .banner-content {
        width: 100%;
        position: absolute;
        top: 40%;
        left: 0%;
        padding: 0 10px;

        transform: translate(0%, 60%);


        text-align: center;
    }

    .banner-content h1 {
        font-size: 40px;
    }

    .banner-content p {
        font-size: 16px;
        color: #FFFFFF;
        margin-bottom: 24px;
    }

    .btn-header-2 {
        width: 50%;
    }

    .optional-button {
        position: absolute;
        top: 12%;
        left: 65%;
    }


    /* about section */


    .about {
        padding: 40px 0;

    }

    .about-content {

        width: 400px;
    }

    .about-content h1 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 16px;
        color: #FFFFFF;

    }

    .about-content p {
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
    }

    .optional-paragraph {
        margin-top: 20px;
    }

    .about-counter {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .about-counter-info h1 {
        color: #00FF88;
        font-size: 40px;
    }

    .about hr {
        margin: 40px 20px;
    }

    /* why choose us */
    .section-title {
        padding-top: 40px;
        padding-bottom: 16px;
        font-size: 32px;
    }

    .choose-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 225px);
        gap: 16px;
        padding-bottom: 20px;
        margin: 0 20px;
    }


    .choose-container-info {
        background-color: rgba(53, 17, 101, 0.4);
        border-radius: 40px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

    }

    .choose-container-1,
    .choose-container-2,
    .choose-container-3,
    .choose-container-4,
    .choose-container-5 {
        grid-column: auto;
    }

    .choose-container h1 {
        font-size: 22px;
    }


    /* featured section */

    .featured-container-main {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 0 20px;

    }

    iframe,
    .featured-container-info {
        width: 100%
    }


    .host-main {
        padding-bottom: 40px;

    }

    .host {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        margin: 0 20px;
        text-align: center;


    }

    .host h1 {
        font-size: 24px;
        font-weight: bold;
    }

    .host p {
        width: 352px;
    }

    .host-icon {
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: center;
    }

    .host-icon-main {
        width: 30px;
        height: 30px;
        border: 1px solid #412567;
        border-radius: 50%;
        overflow: hidden;
    }

    .host-icon-main img {
        max-width: 100%;
        padding: 7px;
    }



    /* footer */

    footer {
        background-image: url(./assets/footer-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        padding: 20px 20px;
    }

    .footer-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .footer-logo img {
        width: 219px;
        height: 32px;
    }

    .footer-icon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0px;
        justify-items: center;
        align-items: center;
        margin: 24px 0;
        text-align: center;
        
    }

    .footer-icon-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin: 5px;
        text-align: center;

    }

    .footer-icon-content p {
        font-size: 16px;
        font-weight: 500;
        color: #FFFFFF;
    }

    .footer-hr {
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 auto 5px;
    width: 100%;
}
.footer-icon-1{
    margin-left: 30px;
}
.footer-icon-2{
    margin-right: 30px;
}
.footer-icon-3{
    margin-left: 80px;
}
.footer-icon-4{
    margin-right: 30px;
}

}



/* medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 0 20px;
    }

    .about-content {
        width: 100%;
    }

    .section-title {
        padding-top: 40px;
        padding-bottom: 16px;
        font-size: 32px;
    }

    .choose-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 215px);
        gap: 16px;
        padding-bottom: 20px;
        margin: 0 20px;
    }


    .choose-container-info {
        background-color: rgba(53, 17, 101, 0.4);
        border-radius: 40px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

    }

    .choose-container-1,
    .choose-container-2,
    .choose-container-3,
    .choose-container-4,
    .choose-container-5 {
        grid-column: auto;
    }

    .choose-container h1 {
        font-size: 22px;
    }

    iframe,
    .featured-container-info {
        width: 100%
    }

    .featured-container-main {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-bottom: 40px;
        margin: 0 20px;
    }

    .host-icon {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        justify-content: flex-start;
    }

    .host {
        margin: 0 20px;
    }
       .footer-hr {
    border: none;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 auto 5px;
    width: 800px;
}

}






/* large device */

@media screen and (min-width:993px) and (max-width:1230px) {
    header {
        padding: 0 20px;
    }

    .about-content {

        width: 100%;
    }

    .about {
        padding: 40px 20px;

    }

    .choose-container {

        margin: 0 20px;
    }

    iframe,
    .featured-container-info {
        width: 100%
    }

    .featured-container-main {
        margin: 0 20px;
    }

    .host {
        margin: 0 20px;

    }

.footer-hr {
  width: 900px;
  margin: 5px auto ;
  
}

}